@import "../../../../assets/styles/foundations.scss";

.header {
  display: flex;
  justify-content: space-between;
  padding: $px32 $px64 0 $px32;
  margin-bottom: $px34;
}

.centredWrapper {
  display: flex;
  justify-content: center;

  padding-bottom: $px72;

  &__container {
    display: flex;
    flex-direction: column;
    width: 50.75rem; //new

    & > :last-child {
      align-self: flex-end;
    }

    h2 {
      margin-bottom: $px38;

      font-family: "Roboto-Medium";
      font-weight: 500;
      font-size: 36px;
      line-height: 48px;
      letter-spacing: 0.0025em;
      color: $neutral-900;
    }

    &__body {
      margin-bottom: $px64;

      & > :not(:last-child) {
        margin-bottom: $px27;
      }
    }
  }
}
