.task2 {
  box-sizing: border-box;
  width: 100%;
  min-width: 800px;
  padding: 55px 80px;

  .name {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
    padding-bottom: 29px;
  }

  .description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
    white-space: pre-line;
    padding-bottom: 20px;
  }

  .word-task {

  }
}