.remembrance {
    border: 1px solid gray;
    max-width: 800px;
    max-height: 512px;
    margin: 0 auto;
    font-family: Roboto;
    &__container {
        /*padding: 55px 80px 60px 80px;*/
        margin: 0 auto;
    }
    &__description {
        padding: 56px 80px 0 80px;
    }
    &__task-description {
        padding: 0 80px;
    }
    &__title {
        margin-bottom: 27px;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: rgba(0, 0, 0, 0.87);
    }
    &__text {
        margin-bottom: 27px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: rgba(0, 0, 0, 0.87);
    }
    &__item {
        margin-left: 7px;
        width: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__input-number,
    &__input-text {
        font-family: Roboto;
        outline: none;
        border: none;
        background-image: none;
        background-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    &__input-number {
        max-height: 64px;
        max-width: 60px;
        font-weight: 500;
        font-size: 72px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.15px;
        color: rgba(0, 0, 0, 0.87);
        &_editable {
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }
    }
    &__input-text {
        //margin-top: 6px;
        //max-height: 32px;
        overflow: visible;
        resize: none;
        //border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        max-width: 60px;
        //height: 43px;
        width: 60px;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.15px;
        color: rgba(0, 0, 0, 0.87);
        &_editable {
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }
    }
    &__number {
        font-weight: 500;
        font-size: 72px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.15px;
        color: rgba(0, 0, 0, 0.87);
    }
    &__numbers-container {
        margin-left: 12px;
        margin-bottom: 60px;
        display: flex;
        justify-content: left;
        flex-direction: column;
    }
    &__numbers {
        max-width: 575px;
        display: flex;
        align-items: baseline;
        justify-content: center;
        flex-direction: row;
        &_initial {
            &:first-child {
                margin-bottom: 8px;
            }
        }
        &_editable {
            &:first-child {
                margin-bottom: 25px;
            }
        }
    }
}



.remembrance {
    .remembrance__input-text_editable {
        position: relative;
        &:after {
            content: "";
            background: #ffffff;
            position: absolute;
            bottom: 2px;
            left: -7px;
            height: 3px;
            width: 24px;
        }
        &:before {
            content: "";
            background: #ffffff;
            position: absolute;
            bottom: 1px;
            right: -7px;
            height: 3px;
            width: 23px;
        }
    }

    .MuiOutlinedInput-notchedOutline {
        border-radius: unset !important;
        border-left: none !important;
        border-right: none !important;
        border-top: none !important;
        z-index: 0 !important;
        &:after {
            content: "";
            background: #ffffff;
            position: absolute;
            bottom: 2px;
            left: -7px;
            height: 3px;
            width: 24px;
        }
        &:before {
            content: "";
            background: #ffffff;
            position: absolute;
            bottom: 1px;
            right: -7px;
            height: 3px;
            width: 23px;
        }
    }
    .MuiOutlinedInput-multiline {
        padding: 0 !important;
        padding-bottom: 10px !important;
    }

    .MuiInputBase-input {
        width: 90px !important;
        margin-left: -14px !important;
        font-family: Roboto !important;
        font-weight: 500 !important;
        font-size: 14px !important;
        line-height: 16px !important;
        text-align: center !important;
        letter-spacing: 0.15px !important;
        color: rgba(0, 0, 0, 0.87) !important;
    }

    .Mui-focused {
        border: none;
    }
    .remembrance__input-number:not(.remembrance__input-number_initial).remembrance__input-number_not-empty,
    .remembrance__input-number.remembrance__input-number_editable:hover,
    .remembrance__input-number.remembrance__input-number_editable:focus {
        border-bottom: 1px solid rgba(0, 0, 0, 0.87);
    }

    .remembrance__input-text:not(.remembrance__input-text_initial).remembrance__input-text_not-empty,
    .remembrance__input-text.remembrance__input-text_editable:hover,
    .remembrance__input-text.remembrance__input-text_editable:focus {
        border-bottom: 1px solid rgba(0, 0, 0, 0.87);
    }

    .remembrance__input-text_initial, .remembrance__input-number_initial {
        border-bottom: 1px solid white;
        .MuiOutlinedInput-input {
            padding-bottom: 16px;
            padding-top: 4px;
        }
    }

    .remembrance__input-text_editable {
        .MuiInputBase-input {
            margin-top: 14px;
            margin-bottom: -6px;
        }
    }

    .remembrance__input-text_initial {
        .MuiInputBase-input {
            margin-top: 5px;
            margin-bottom: -6px;
        }
    }

    .MuiInputBase-input {
        margin-top: 17px;
        margin-bottom: -6px;
    }
    .MuiInputLabel-outlined {
        z-index: 0 !important;
    }

    .MuiOutlinedInput-notchedOutline {
        border: none !important;
    }
}
