@import "../../../../../../../assets/styles/foundations.scss";

.arrowIcon-left {
  transform: rotate(180deg);
}

.carouselArrow-left,
.carouselArrow-right {
  display: flex;
  height: $px48;
  width: $px48;
  border-radius: $px4;

  rect {
    transition: fill $transitionS;
  }

  i {
    height: inherit;
    width: inherit;
    display: block;
  }
}

.light--carouselArrow {
  rect {
    fill: $neutral-300;
  }
}

.light--carouselArrow:hover {
  rect {
    fill: $neutral-200;
  }
}

// .dark--carouselArrow {
//   rect {
//     fill: $neutral-4;
//   }
// }

// .dark--carouselArrow:hover {
//   rect {
//     fill: $neutral-5;
//   }
// }
