.header {
  width: 100%;
  padding-top: 22px;
  display: inline-flex;
  padding-bottom: 9px;
  border-bottom: 1px solid white;
  position: relative;
  &.--under {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  .h-section {
    display: flex;
    flex: 1;
    height: 17px;
    font-size: 13px;
    .text {font-weight: 300;
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 0.25px;
      color: #BDBDBD;
      margin-right: 6px;
    }
    .time {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      text-align: right;
      letter-spacing: 0.25px;
      color: rgba(0, 0, 0, 0.87);
      mix-blend-mode: normal;
    }
    &.h-left {
      justify-content: flex-start;
    }
    &.h-center {
      justify-content: center;
    }
    &.h-right {
      justify-content: flex-end;
    }
  }
  .progress-container {
    position: absolute;
    width: 100%;
    bottom: -3px;
    left: 0;
  }
}