.header {
  width: 100%;
  padding-top: 22px;
  display: inline-flex;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  .h-section {
    display: flex;
    flex: 1;
    height: 22px;
    font-size: 13px;
    .text {
      color: #BDBDBD;
      padding-right: 5px;
    }
    .time {
      color: #212121;
      font-weight: 400;
    }
    &.h-left {
      justify-content: flex-start;
    }
    &.h-center {
      justify-content: center;
    }
    &.h-right {
      justify-content: flex-end;
    }
  }
}