@import "../../../../assets/styles/foundations.scss";

.textField {
  display: block;
  height: $px26;
  width: 100%;
  border: 0;
  border-bottom: $border1 solid $neutral-2;
  resize: none;
  outline: none;
  padding-bottom: $px4;
  // max-height: 300rem;
  // transition: all 2s;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $neutral-4;

  transition: $transitionF;

  &:focus:not(.error) {
    border-bottom: $border2 solid $blue;
  }

  &:focus {
    color: $neutral-5;
  }
}

.error {
  border-bottom: $border2 solid $red;
}
