@import "../../../../assets/styles/foundations.scss";

.textField {
  display: block;
  height: $px26;
  width: 100%;
  border: 0;
  border-bottom: $borderDefault;
  resize: none;
  outline: none;
  padding-bottom: $px4;

  font-family: "Golos-Regular";
  font-size: 16px;
  line-height: 22px;
  color: $neutral-5;

  transition: $transitionF;

  &:focus:not(.error) {
    border-bottom: $borderFocus;
  }

  // &:focus {
  //   color: $neutral-5;
  // }
}

.error {
  border-bottom: $borderError;
}
