@import "../../../../../../../../assets/styles/foundations.scss";

.container {
  display: flex;
  height: $px12;
  width: $px12;

  .active,
  .default {
    margin: auto;
    border-radius: 50%;
  }

  .active {
    height: $px10;
    width: $px10;

    background-color: $neutral-4;
    box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.5);
  }

  .default {
    height: $px6;
    width: $px6;

    background-color: $neutral-1;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    
    &:hover {
      background-color: $neutral-4;
    }
  }
}
