@import "../../../../../assets/styles/foundations.scss";

.container {
	padding: $px44 $px40;
	border: $px1 solid $neutral-2;
	border-radius: $radius;

	font-style: normal;
	font-size: 16px;
	line-height: 22px;

	& > :first-child {
		margin-bottom: $px8;
	}

	& > :nth-child(2) {
		margin-bottom: $px28;
	}

	&__question {
		font-weight: 500;
		color: $neutral-6;
	}

	&__description {
		color: $neutral-4;
	}
}

.errorWrapper {
	height: 0;
	position: relative;

	&__errorMessage {
		position: absolute;
		display: flex;
		align-items: center;
		top: $px5;

		// i {
		// 	height: 1.8rem;
		// }

		span {
			padding-left: $px4;
			height: $px21;
			font-size: 14px;
			line-height: 19px;
			color: $red;
		}
	}
}

.error {
	border-color: $red;
}
