@import "../../../../assets/styles/foundations.scss";

.container {
	display: flex;

	&__centeredContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 50%;
	}

	&__imgContainer {
		width: 50%;
		height: 100vh;
		display: flex;

		img {
			margin: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}

	.wrapper {
		width: 20.25rem; //new

		& > :first-child {
			margin-bottom: $px32;
		}

		& > :last-child {
			margin-top: $px64;
		}

		&__field {
			display: flex;
			flex-direction: column;
			width: 100%;

			& > :first-child {
				margin-bottom: $px8;
			}

			position: relative;
			display: flex;
			flex-direction: column;

			&__errorMessage {
				position: absolute;
				display: flex;
				align-items: center;
				top: $px94;

				span {
					padding-left: $px4;
					height: $px21;
					font-size: 14px;
					line-height: 19px;
					color: #ff4a4a;
				}
			}

			input {
				height: $px60;
				border: $px1 solid $neutral-2;
				border-radius: $px5;
				outline: none !important;

				&:focus:not(.error) {
					border: $px2 solid $blue;
				}
			}

			label {
				font-size: 18px;
				line-height: 21px;
				color: $neutral-6;
			}

			.error {
				border: $px2 solid $red;
			}
		}
	}
}
