@import "../../../../assets/styles/foundations.scss";

.container {
  display: flex;

  &__centeredContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
  }

  &__imgContainer {
    width: 50%;
    height: 100vh;
    // display: flex;

    img {
      // margin: auto;
      object-fit: cover;
      height: 100%;
      width: 100%;
      // max-width: 100%;
      // max-height: 100%;
    }
  }

  .wrapper {
    width: 20.25rem; //new

    & > :first-child {
      margin-bottom: $px28;
    }

    & > :last-child {
      margin-top: $px64;
    }

    &__field {
      display: flex;
      flex-direction: column;
      width: 100%;

      & > :first-child {
        margin-bottom: $px8;
      }

      input {
        font-family: "Golos-Regular";
        font-size: 16px;
        line-height: 28px;
      }

      position: relative;
      display: flex;
      flex-direction: column;

      &__errorMessage {
        position: absolute;
        display: flex;
        align-items: center;
        top: 93px;

        i {
          display: contents;
        }

        span {
          padding-left: $px4;

          font-family: "Golos-Regular";
          font-size: 14px;
          line-height: 18px;
          color: $red;
        }
      }

      input {
        height: $px60;
        border: $borderDefault;
        border-radius: $radius;
        outline: none !important;
        padding: $px16;

        &:focus:not(.error) {
          border: $borderFocus;
        }
      }

      label {
        font-family: "Golos-Medium";
        font-size: 18px;
        line-height: 21px;
        color: $neutral-6;
      }

      .error {
        border: $borderError;
      }
    }
  }
}
