@import "../../../../assets/styles/foundations.scss";

.btn {
	height: $px61;
	width: 20.25rem; //new
	border-radius: $px5;
	outline: none;
	border: none;
	cursor: pointer;

	font-family: "Golos-Medium";
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
}

.black {
	background: $neutral-5;
	color: $white;

	&:hover {
		background-color: $neutral-6;
	}
}

.white {
	border: $px1 solid $neutral-5;
	background: $white;
	color: $neutral-5;

	&:hover {
		border: none;
		background: $neutral-5;
		color: $white;
	}
}
