@import "../../../../assets/styles/foundations.scss";

.btn {
  height: $px52;
  width: 20.25rem; //new
  border-radius: $px5;
  outline: none;
  border: none;
  cursor: pointer;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  font-family: "Roboto-Medium";
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.black {
  background: $neutral-800;
  color: $white;
  transition: $transitionS;

  &:hover {
    background-color: $neutral-900;
  }
}

// .white {
//   border: $px1 solid $neutral-5;
//   background: $white;
//   color: $neutral-5;
//   transition: $transitionS;

//   &:hover {
//     border: none;
//     background: $neutral-5;
//     color: $white;
//   }
// }
