@font-face {
  font-family: "Golos-Regular";
  src: url("Golostextregular.ttf") format("truetype");
}

@font-face {
  font-family: "Golos-Medium";
  src: url("Golostextmedium.ttf") format("truetype");
}

@font-face {
  font-family: "Golos-Bold";
  src: url("Golostextbold.ttf") format("truetype");
}

@font-face {
  font-family: "Golos-DemiBold";
  src: url("Golostextdemibold.ttf") format("truetype");
}
