@import "../../../../assets/styles/foundations.scss";

.container {
  position: relative;
  width: 20.25rem; //new

  & > :first-child {
    font-family: "Golos-Regular";
    font-size: 18px;
    line-height: 22px;
    color: $neutral-6;
  }

  & > :last-child {
    position: absolute;
    left: 15.375rem;
  }
}
