@import "../../../../../../assets/styles/foundations.scss";

.title {
  margin-bottom: $px24;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
}

.container {
  & > :not(:last-child) {
    margin-bottom: $px12;
  }

  label {
    font-size: 16px;
    line-height: 22px;
  }
}
